@using MVCModel.Models;
@using MVCClient.Configuration;

@model MVCDTO.StockTasks.WarehouseInvoiceDTO

@{Layout = "~/Views/Shared/_LayoutPopupWindow.cshtml";}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.SourceWarehouseID)
    @Html.HiddenFor(model => model.SourceWarehouseName)

    @Html.HiddenFor(model => model.WarehouseID)
    @Html.HiddenFor(model => model.WarehouseName)
    @Html.HiddenFor(model => model.WarehouseLocationTelephone)
    @Html.HiddenFor(model => model.WarehouseLocationFacsimile)
    @Html.HiddenFor(model => model.WarehouseLocationName)
    @Html.HiddenFor(model => model.WarehouseLocationAddress)


    @(Html.Kendo().TabStrip()
        .HtmlAttributes(new { @style = "height: 466px; margin-left: 0px; margin-right: 0px;" })
        .Name("tabStrip")
        .Items(tabStrip =>
        {
            tabStrip.Add().Text("Nhập hàng từ HONDA")
                .Content(@<text>
                    @Html.Partial("~/Views/WarehouseInvoices/_PendingGoodsReceiptDetails.cshtml")
                </text>);

            tabStrip.Add().Text("Xuất kho VCNB")
                .Selected(true)
                .Content(@<text>
                    @Html.Partial("~/Views/WarehouseInvoices/_PendingStockTransferDetails.cshtml")
                </text>);
        })
    )
    
    <div class="background-bar" style="height: 45px;">
        <div class="popup-button-bar">
            <input id="submitCreateWizard" type="submit" formaction="@Url.Action("CreateWizard", "WarehouseInvoices")" formtarget="_top" style="display:none" />

            <input id="okButton" type="button" value="Tiếp tục" class="k-button" onclick="okButton_Click()" />
            <input id="cancelButton" type="button" value="Thoát" class="k-button" onclick="cancelButton_Click()" />
        </div>
    </div>
}


<script src="@Url.Content("~/Scripts/Helpers/StockTasks/stockTransferCreateWizard.js")"></script>


<script type="text/javascript">
    function okButton_Click() {
        handleOKEvent($($("#tabStrip").data("kendoTabStrip").select().index() === 0 ? "#gridGoodsReceipts" : "#gridStockTransfers").data("kendoGrid"));
    }

    function cancelButton_Click() {
        window.parent.$("#myWindow").data("kendoWindow").close();
    }

    function handleOKEvent(selectedGrid) {
        if (selectedGrid === undefined)
            _setParentInput();
        else {
            var selectedDataItem = selectedGrid.dataItem(selectedGrid.select());
            if (selectedDataItem === undefined)
                return false;

            _setParentInput(selectedDataItem);
        }
        $("#submitCreateWizard").trigger("click");


        function _setParentInput(selectedDataItem) {
            $("#SourceWarehouseID").val(selectedDataItem === undefined ? null : selectedDataItem.SourceWarehouseID);
            $("#SourceWarehouseName").val(selectedDataItem === undefined ? null : selectedDataItem.SourceWarehouseName);

            $("#WarehouseID").val(selectedDataItem === undefined ? null : selectedDataItem.WarehouseID);
            $("#WarehouseName").val(selectedDataItem === undefined ? null : selectedDataItem.WarehouseName);
            $("#WarehouseLocationTelephone").val(selectedDataItem === undefined ? null : selectedDataItem.WarehouseLocationTelephone);
            $("#WarehouseLocationFacsimile").val(selectedDataItem === undefined ? null : selectedDataItem.WarehouseLocationFacsimile);
            $("#WarehouseLocationName").val(selectedDataItem === undefined ? null : selectedDataItem.WarehouseLocationName);
            $("#WarehouseLocationAddress").val(selectedDataItem === undefined ? null : selectedDataItem.WarehouseLocationAddress);
        }
    }

</script>