@using MVCClient.Configuration
@model MVCClient.ViewModels.StockTasks.WarehouseInvoiceViewModel

<div id="popupWindow" style="position: absolute"></div>

<div>
    @(Html.Kendo().Grid<MVCModel.Models.WarehouseInvoiceIndex>()
        .Name("kendoGridIndex")
        .Columns(columns =>
        {
            columns.Bound(p => p.WarehouseInvoiceID).DisplayNameTitle().Hidden();
            columns.Bound(p => p.LocationCode).Title("CN").Width(10);
            columns.Bound(p => p.EntryDate).Title("Ngày").Format("{0:dd/MM/yyyy}").Width(90);
            columns.Bound(p => p.TransferOrderNo).Title("LĐN").Width(90);
            columns.Bound(p => p.TransferOrderCode).Title("LĐX").Width(90);
            columns.Bound(p => p.VATInvoiceNo).Title("Số VCNB").Width(108);
            columns.Bound(p => p.SourceWarehouseName).Title("Kho xuất").Width(108);
            columns.Bound(p => p.WarehouseName).Title("Kho nhận").Width(108);
            columns.Bound(p => p.Description).Title("Nội dung").Width(290);
            columns.Bound(p => p.TotalGrossAmount).Title("Thành tiền").Format("{0:n0}").HtmlAttributes(new { @class = "grid-number-column" }).Filterable(false).Width(90);

            columns.Template(model => null).Width(170)
                .ClientTemplate("<a class='k-button' style='padding-left:5px; min-width:28px; width:28px' href='" + Url.RouteUrl("Default", new { controller = "WarehouseInvoices", action = "Edit" }) + "/#= WarehouseInvoiceID #'><span class='k-icon k-edit'></span></a> <a class='k-button' style='padding-left:5px; min-width:28px; width:28px' href='" + Url.RouteUrl("Default", new { controller = "WarehouseInvoices", action = "Print" }) + "/#= WarehouseInvoiceID #' target='_blank'><span class='k-icon k-i-folder-add'></span></a> <a class='k-button' style='padding-left:5px; min-width:28px; width:28px' href='" + Url.RouteUrl("Default", new { controller = "WarehouseInvoices", action = "PrintDetail" }) + "/#= WarehouseInvoiceID #' target='_blank'><span class='k-icon k-i-folder-up'></span></a> <a class='k-button' style='padding-left:0px; padding-right:0px; min-width:28px; width:28px' href='" + Url.RouteUrl("Default", new { controller = "WarehouseInvoices", action = "Delete" }) + "/#= WarehouseInvoiceID #'><span class='k-icon k-delete'></span></a>");

        })
        .ToolBar(toolbar => toolbar.Template("<a class='k-button k-button-icontext k-grid-add' href='javascript:void(0)' onClick='createWizard()'>Create</a>"))
        .Pageable()
        .Groupable()
        .Filterable()
        .Selectable()
        .Sortable()
        .Events(e =>
        {
            e.DataBound("hightLightSelectedRow");
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetWarehouseInvoiceIndexes", "WarehouseInvoiceApi"))
            .Sort(sort =>
                {
                    sort.Add(p => p.EntryDate).Descending();
                    sort.Add(p => p.WarehouseInvoiceID).Descending();
                })
            .PageSize(20)
            .Model(model =>
            {
                model.Id(x => x.WarehouseInvoiceID);
                model.Field(m => m.WarehouseInvoiceID).DefaultValue(0);
            })
            .ServerOperation(true)
        )
        .HtmlAttributes(new { @class = "grid-class" })
    )
</div>



<script type="text/javascript">
    function hightLightSelectedRow(e) {
        require(["kindexGrid"], function (kindexGrid) {
            var kindexGridInstance = new kindexGrid("kendoGridIndex");
            kindexGridInstance.setSelectedRow("WarehouseInvoiceID", @ViewBag.SelectedEntityID);
        });
    }

    function createWizard() {
        require(["kpopupWindow"], function (kpopupWindow) {
            var createWizardWindow = new kpopupWindow();
            createWizardWindow.openWindow($("#popupWindow"), "@Url.Action("CreateWizard", "WarehouseInvoices")", "Chọn kho xuất hóa đơn VCNB",  "@SettingsManager.PopupWidth", "@SettingsManager.PopupHeightWithTab");
        });
    }
</script>